@{
    ViewData["Title"] = "";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Pickme Properties Online Utility - Guide</p>
<p style="text-align:justify;">
    <span style="color:blue;"><em>Properties:</em></span> Any property that the estate agent is marketing must be recorded thruogh this section. While being able to view the existing particulars of
    currently marketed properties, users are also able to add a new property or delete an existing one.  Users can also re-arrange the list by clicking the
    heading of each sortable information.  Please note that these column headings are in color for ease of reference.  Details section will display the full information
    about any particular property including any viewing which may have been arranged.
</p>

<p style="text-align:justify;">
    <span style="color:blue"><em>Members:</em></span> Individuals who has dealings with the estate agent are all traeted as Members. These include vendors, buyers and viewers. Pickme Properties
    doesn't restrict a member to be a certain type thus a member can be a buyer, vendor or just a viewer. While being able to view the existing particulars of
    members currently registered, users are also able to add a new member or delete an existing one.  Users can also re-arrange the list of members by clicking the
    heading of each sortable information.  Please note that these column headings are in color for ease of reference.  Details section will display the full information
    about any particular member including any property or viewing they may have been linked to.
</p>

<p style="text-align:justify;">
    <span style="color:blue"><em>Viewings:</em></span> All members are allowed to arrange a viewing and details are recorded and monitored in this section.
    While being able to browse through the existing particulars of arranged viewings, users are also able to add a new viewing or delete an existing one.  Users can also re-arrange the list of viewings
    by clicking the heading of each sortable information.  Please note that these column headings are in color for ease of reference.  Details section will display the full information
    about any particular viewing including notes that may have been added.
</p>


<p style="text-align:justify;">
    <span style="color:blue"><em>Services:</em></span> Pickme Properties offers several services regarding the real estates they have in their list. Although these can mainly be classified as Property Sale
    and Property Rental services, Pickme Properties has varieties of these services based on fees charged.  Users are therefore able to define a service and its financial details as well as service start and end dates.
    While being able to browse through the existing particulars of existing services, users are also able to add a new service or delete an existing one.  Please note that users are not able to re-arrange the list of services.
    Details section will display the full information about any particular service including start and end dates of service.
</p>

<p style="text-align:justify;">
    <span style="color:blue"><em>Offers:</em></span> Pickme Properties needs to keep a track of offers received  (either sale or rental) for a particular propertry. While being able to browse through details of existing offers, users are also able
    to add a new offer or delete an existing one.  Please note that users are not able to re-arrange the list of offers.  Details section will display the full information about any particular offer including any notes which
    may have been entered regrding the offer.
</p>

<p style="text-align:justify;">
    <span style="color:blue"><em>Polite Reminder:</em></span> Please note that this utility doesn't implement the full functionality of procedures which may be carried out by an estate agent.  Certain data validations which would otherwise  be necessary in real-life
    are ignored in this sample application to keep the code simple.
</p>

