@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2 style="text-align:center;color:darkorange">Welcome to PickMe Properties</h2>
        <p style="text-align:center;color:blue">
            Online Administartion - Admin Staff Only
        </p>
    </div>
    <div class="col-md-1"> </div>
</div>
<br/>
<br/>
<br />
<br />
<div class="row" style="align-content:center">
        <div class="col-md-1"></div>
        <div class="col-md-2" style="padding:10px 10px 10px 10px"><a asp-area="" asp-controller="RealEstates" asp-action="Index"><img src="~/images/house.png" height="150" width="150"/></a></div>
        <div class="col-md-2" style="padding:10px 10px 10px 10px"><a asp-area="" asp-controller="People" asp-action="Index"><img src="~/images/members.jpg" height="150" width="150" /></a></div>
        <div class="col-md-2" style="padding:10px 10px 10px 10px"><a asp-area="" asp-controller="Viewings" asp-action="Index"><img src="~/images/viewing.jpg" height="150" width="150" /></a></div>
        <div class="col-md-2" style="padding:10px 10px 10px 10px"><a asp-area="" asp-controller="Services" asp-action="Index"><img src="~/images/services.jpg" height="150" width="150" /></a></div>
        <div class="col-md-2" style="padding:10px 10px 10px 10px"><a asp-area="" asp-controller="Offers" asp-action="Index"><img src="~/images/offers.png" height="150" width="150" /></a></div>
</div>
<div class="row" style="align-content:center">
    <div class="col-md-1"></div>
    <div class="col-md-2" style="padding:10px 10px 10px 10px;text-align:center;color:darkblue">Properties</div>
    <div class="col-md-2" style="padding:10px 10px 10px 10px;text-align:center;color:darkblue">Members</div>
    <div class="col-md-2" style="padding:10px 10px 10px 10px;text-align:center;color:darkblue">Viewings</div>
    <div class="col-md-2" style="padding:10px 10px 10px 10px;text-align:center;color:darkblue">Services</div>
    <div class="col-md-2" style="padding:10px 10px 10px 10px;text-align:center;color:darkblue">Offers</div>
</div>
