@{
    ViewData["Title"] = "Home Page";
}

<div style="background: burlywood;" class="jumbotron">
    <h1 style="text-align: center; color: blue; background: burlywood; ">PickMe Properties</h1>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2"><img src="~/images/viewing.jpg" height="75" width="95" /></div>
        <div class="col-md-2"><img src="~/images/house.png" height="75" width="95" /></div>
        <div class="col-md-2"><img src="~/images/members.jpg" height="75" width="95" /></div>
        <div class="col-md-2"><img src="~/images/services.jpg" height="75" width="95" /></div>
        <div class="col-md-2"><img src="~/images/offers.png" height="75" width="95" /></div>
        <div class="col-md-1"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to PickMe Properties</h2>
        <p>
            PMPET is a sample application that
            demonstrates how I use Entity Framework Core 1.0 in an
            ASP.NET Core MVC 1.0 web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>I've built this application from scratch</h2>
        <p>I have referred the steps in a series of tutorials on Microsoft's relevant Website.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html" target="_blank">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/kudsibey/pickme" target="_blank">See project source code &raquo;</a></p>
    </div>
</div>